* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

	font-family: 'Roboto', sans-serif;
}

body {
	margin: 0px;
}

h1 {
	font-size: 250%;
	font-weight: 500;	
}

.title_box {
	display: flex;
	height: 160px;
	width: 100%;
	padding-bottom: 20px;
}

.bottom_align {
	display: flex;
	align-items: flex-end;	
}

.v_margin_none {
	margin-top: 0px;
	margin-bottom: 0px;
}

.v_margin_light {
	margin-top: 20px;
	margin-bottom: 20px;
}

.main {
	padding-left: 100px;
	padding-right: 100px;
}

.link-container {
	color: #009688;
	display: flex;
	flex-wrap: wrap;
	margin-left: -5px;
}

.link_box {
	color: white;
	font-weight: 400;
	min-height: 200px;
	min-width: 200px;
	margin: 5px;
	position: relative;
}

.link_box_content {
	position: absolute;
	bottom: 0;
	margin-left: 20px;
	margin-bottom: 20px;
}
.empty {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	z-index: 1;
}

.back {
	align-items: center;
	bottom: 0;
	display: flex;
	height: 50px;
	width: 100%;
	position: fixed;
}

.root_bg {
	background-color: #009688;
}

.root {
	color: #009688;
}

.e1_bg {
	background-color: #E91E63;
}

.e1 {
	color: #E91E63;
}

.e2_bg {
	background-color: #F44336;
}

.e2 {
	color: #F44336;
}

.e3 {
	background-color: #FF9800;
}

.e4 {
	background-color: #FFC107;
}

.white {
	color: white;
}
