<!DOCTYPE html>

<html>
  <head>
    <title>Lesson Notes</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    {% block content %}
    {% endblock %}
    <br>
    <hr class="comment" color="#E0E0E0">
    <br>
    <div class="main">
    <!-- Comments -->

    <!-- Comment box -->
    </div>
    <br>
    <hr class="comment" color="#E0E0E0">
    <br>
    <div class="main comment_box">
      <div>Please leave a comment:</div>
      <form class="main" method="post">
        <textarea name="comment" rows="3" cols="100"></textarea>
        <input type="submit" value="Comment">
      </form>
  </body>
</html>
