Lesson 1 - The Basics of the Web and HTML

World Wide Web - Collection of HTMLs (HyperText Markup Language)
HTMLs are linked through HyperLinks

[HTML]
1. Components
	- text content: what you see
	- markup: what it looks like (e.g. <b></b>)
	- references to other documents: images, videos, etc.
	- links to other pages
2. HTML attributes
	- &lt;tag attribute="value"&gt;content</tag>
	- <a href="link"></a>
	- <img src="url" alt="text"> (VOID tag: no content, no closing tag)
3. Tags
	- <br>: break (inline)
	- <p>content</p>: paragraph (block)
4. Elements
	- <span>text</span> (inline)
	- <div>text</div> (block)