{% extends "base.html" %}
{% block content %}

<div class="title_box main v_align_bottom root_bg">
	<h1 class="v_margin_none white">Lesson Notes</h1>
</div>

<div class="main">
	<h3 class="root">Choose lesson to review</h3>
	<div class="link-container">
		<div class="link_box e1_bg">
			<a href="notes?lesson=1"><span class="empty"></span></a>
			<div class="link_box_content">
				The Web &amp; HTML:<br>
				The Basics
			</div>
		</div>

		<div class="link_box e2_bg">
			<a href="notes?lesson=2">
				<span class="empty"></span>
			</a>
			<div class="link_box_content">
				HTML &amp; CSS:<br>
				An Overview
			</div>
		</div>

		<div class="link_box e3_bg">
			<a href="notes?lesson=4_1">
				<span class="empty"></span>
			</a>
			<div class="link_box_content">
				HTML &amp; Server:<br>
				Response and Request
			</div>
		</div>

		<div class="link_box e4_bg">
			<a href="notes?lesson=4_2">
				<span class="empty"></span>
			</a>
			<div class="link_box_content">
				Forms
			</div>
		</div>

		<div class="link_box e5_bg">
			<a href="notes?lesson=4_5">
				<span class="empty"></span>
			</a>
			<div class="link_box_content">
				GET vs. POST
			</div>
		</div>

	</div>
</div>
<div class="back root_bg">
	<span class="main white">Josh Park</span>
</div>

{% endblock %}
